.campaign-card {
  flex: 1;
  flex-basis: 300px;
  max-width: 300px;
  background-color: #fff;
  margin-bottom: 60px;
  padding: 25px;
  position: relative;
}

.campaign-card::before {
  content: ' ';
  width: 190px;
  height: 60px;
  background-image: url(../../../public/i/card-sticker2.png);
  background-size: 190px 60px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  top: -30px;
  left: 50px;
}

.campaign-card .intro-img {
  max-width: 170px;
  max-height: 108px;
  margin: 0 auto;
  display: block;
}

.campaign-card .category-icon {
  position: absolute;
  right: 18px;
  top: 25px;
  max-width: 50px;
}

.campaign-card .campaign-details h2 {
  font-family: 'quicksandbold', sans-serif;
  font-size: 36px;
  color: #000;
  margin: 15px 0 0;
  line-height: 1;
}

.campaign-card .campaign-date,
.campaign-card .sponsored-by {
  font-family: 'robotoitalic', sans-serif;
  font-size: 14px;
  color: #90a4ae;
  line-height: 14px;
}

.campaign-card hr {
  border: none;
  height: 1px;
  background-color: #eceff1;
  margin: 18px -25px 10px;
}

.campaign-card .sponsors {
  display: flex;
  justify-content: center;
}

.campaign-card .sponsors img {
  max-width: 35px;
  max-height: 10px;
  margin: 30px 25px 40px;
}

.campaign-card .footer-links {
  display: flex;
  justify-content: space-between;
}

.campaign-card .footer-links a {
  font-family: 'robotobold', sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 1365px) {
  .campaign-card {
    flex-basis: 170px;
    max-width: 170px;
    padding: 20px 12px 12px;
    margin-bottom: 30px;
  }

  .campaign-card .category-icon {
    right: 5px;
    top: 5px;
    max-width: 35px;
  }

  .campaign-card::before {
    width: 100px;
    height: 30px;
    background-size: 100% 100%;
    top: -15px;
    left: 35px;
  }

  .campaign-card .intro-img {
    max-width: 75px
  }

  .campaign-card .campaign-details h2 {
    font-size: 16px;
  }

  .campaign-card .campaign-date,
  .campaign-card .sponsored-by {
    font-size: 11px;
  }

  .campaign-card hr {
    margin: 12px -25px 4px;
  }

  .campaign-card .sponsors img {
    margin: 15px 12px 20px;
    max-width: 20px;
    max-height: 12px
  }

  .campaign-card .footer-links a {
    font-size: 12px;
  }
}
