.experience-center .with-sidebar {
  display: flex;
  align-items: flex-start;
}

.experience-center .with-sidebar .grid {
  flex: 1;
  margin: 0;
}

.experience-center .with-sidebar .grid .text-center {
  flex: 1;
}

.experience-center .filter-sidebar {
  flex-basis: 300px;
  background-color: #fff;
  padding: 25px 20px;
}

.experience-center .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 35px;
  margin: 0 -20px;
}

.experience-center .categories {
  display: flex;
  justify-content: center;
  margin: -120px 0 50px;
  z-index: 999;
  position: relative;
}

.experience-center .categories .category-card {
  margin: 0 15px;
  max-width: 280px;
}

.experience-center .categories .category-card .img-holder {
  max-height: 140px;
}

.experience-center .categories .category-card .img-holder img {
  max-width: 140px;
}

@media screen and (max-width: 1365px) {
  .experience-center .categories-container {
    overflow-x: auto;
    overflow-y: visible;
    padding: 45px 0;
    margin: -65px 0 0;
    display: flex;
  }

  .experience-center .categories {
    margin: 0;
  }

  .mobile-only {
    display: block;
  }

  .experience-center .inline-form .text-right {
    margin: 0 -5px
  }

  .experience-center .inline-form .btn-rounded {
    padding: 14px 20px;
    margin: 0 5px;
    width: calc(50% - 10px);
  }

  .experience-center .with-sidebar {
    display: block;
  }

  .experience-center .with-sidebar .filter-sidebar {
    display: none;
  }

  .experience-center .with-sidebar.sidebar-open .filter-sidebar {
    display: block;
    padding: 20px;
    position: fixed;
    top: 20px;
    width: calc(100% - 40px);
    z-index: 9999;
    left: 20px;
    height: calc(100vh - 40px);
    overflow: auto;
  }

  .experience-center .with-sidebar.sidebar-open .filter-sidebar input,
  .experience-center .with-sidebar.sidebar-open .filter-sidebar .search-icon-grey{
    display: none;
  }

  .filter-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 36, 193, .5);
    z-index: 1000;
  }

  .experience-center .cards {
    padding-left: 0;
  }

  .experience-center .with-sidebar .grid {
    margin: 0;
  }
}
